# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Firebase
google-services.json
GoogleService-Info.plist
firebase-debug.log
firestore-debug.log
serviceAccountKey.json
*.serviceAccountKey.json

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Next.js (if keeping any Next.js files)
.next/
out/
